@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #000428, #004e92);
  background: -webkit-linear-gradient(top, #000428, #004e92);
  background: linear-gradient(to bottom, #000428, #004e92);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
